body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 400 !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

h3 {
  text-align: center;
}

/* ================= NAVBAR ================= */

.navbar {
  background-color: rgb(247, 233, 213);
  min-height: 4.5rem;
}

.navbar-brand i {
  color: rgb(249, 3, 90);
  font-size: 1.5rem;
}

/* Makes the left and right sections align properly */
.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 233, 213);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-link {
  color: rgb(221, 109, 71) !important;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.nav-link:hover {
  transform: scale(1.05);
}

/* Create Listing Button */
/* Navbar buttons */
.navbar .nav-link {
  border: none;
  border-radius: 999px;
  background-color: rgb(247, 233, 213);
  color: rgb(221, 109, 71) !important;
  padding: 0.55rem 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Hover effect */
.navbar .nav-link:hover {
  background-color: rgb(246, 220, 184);
  transform: none; /* removes the scale effect */
}

/* Mobile View */
@media (max-width: 767px) {

  .navbar-collapse {
    padding: 1rem 0;
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

/* ================= FOOTER ================= */

.f-info {
  display: flex;
  height: 8rem;
  background-color: rgb(236, 236, 236);
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  text-align: center;
}

.f-info-terms a {
  color: black;
  width: 100%;
  text-decoration: none;
}

.f-info-terms a:hover {
  text-decoration: underline;
}

.f-info-socials {
  font-size: 1.5rem;
  width: 100%;
}

.f-info-socials a {
  text-decoration: none;
}

.f-info-brand {
  width: 100%;
}

/* ================= CARDS ================= */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.row a {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
  transition: 0.2s;
}

.card-img-overlay:hover {
  background-color: white;
  opacity: 0.2;
}

/* ================= BUTTONS ================= */

.btn {
  background-color: rgb(221, 109, 71);
  border: none;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgb(220, 82, 36);
  color: white;
  transform: scale(1.05);
}

.close-button {
  text-decoration: none;
}

.show-btn {
  display: flex;
  padding-left: 0;
}

.review {
  padding-left: 1rem;
}